body {
	font-size: 20px;
	color: white;
	background-color: black;
	font-family:'Roboto';	
}

a {
	color: white;
}

.datetime {
	font-weight: 300;
}

.clock {
	font-size: 80px;
}

.date {
	font-size: 40px;
}

.align-bottom {
	position:absolute; 
	bottom: 0px; 
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

.browse .textContainer { 
    height: 430px; 
    line-height: 400px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: -8px;
}

.rowcenter {
	margin: auto; max-width: 300px;
}